@import '../../scss/colors';

.header {
  background: $background;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 10px;
}

.logo {
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
}

.nO {
  color: $primary;
}

.a {
  color: $secondary;
}

.c {
  color: $tertiary;
}

.h {
  color: $quaternary;
}

.academy {
  color: $quinary;
}