// brand colors
$primary: #02D4DA;
$primaryHover: #02abb0;
$primaryContrastText: #ffffff;
$secondary: #FE9440;
$secondaryContrastText: #ffcc00;
$tertiary: #8AC802;
$quaternary: #FF309E;
$quinary: #FED035;
$background: #413F40;
$backgroundContrastText: #ffffff;
$divider: rgba(0, 0, 0, .1);
$inputBorder: rgba(0, 0, 0, .3);
$mutedText: rgba(0, 0, 0, .5);