.statTypeSelector {
  display: flex;
  flex-direction: column;
  height: 100%; }

.statButton {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1); }

.statDetails {
  flex: 0 0 0;
  text-align: center; }

.active {
  color: #02D4DA; }

.inactive {
  color: rgba(0, 0, 0, 0.5); }
